body {
  background-color: #f3f2ef;
  margin: 20px 0;
}

.nav {
  margin: 10px 0;
  max-height: 50px;
  min-height: 50px;
  display: grid;
  padding: 10px;
  align-items: center;
}

.paper {
  padding: 10px;
}
